@page "/";
@rendermode InteractiveServer


<PageTitle>Falling Sand</PageTitle>

<h1>Falling Sand</h1>

<hr>

<div class="AppWindow">
	
	<div class="Display"  >

		
		@for(int y = 0; y < displayData.GetLength(1); y ++)
		{   
			<div class="Display-Row">
			
				@for (int x = 0; x < displayData.GetLength(0); x++)
			    {
					int pixelX = x;
					int pixelY = y;
					RGB pixel = Display.GetCellColor(displayData, x, y);
					string setPixelColor = $"background-color:rgb({pixel.Red},{pixel.Blue},{pixel.Green});";
					
					<span class="Display-Pixel" @onclick=" e => AddSand(pixelX,pixelY)" style="@setPixelColor"></span>
					
			    }

			</div>
		}
	
	</div>
	
</div>

<hr>